@using BetPay.Entities


<center>
    <h3>Bets</h3>
    <br />

    <ul>
        @foreach (var bet in bets)
        {
            var color = bet.IsWinning switch
            {
                Enums.BetStatusEnum.Unfinished => "blue",
                Enums.BetStatusEnum.Won => "green",
                Enums.BetStatusEnum.Lost => "red",
                 _ => "black"
            };

            <li class="betlist-item" style="color:@(color)">Stake: @bet.Stake || Odds: @bet.TotalOdds || Date: @bet.BetDate.ToString("dd-MM-yyyy" ) || @bet.PotentialWin zł
                <span>
                        
                </span> 
            </li>
        }

    </ul>
   </center>


@code {
    private List<Bet> bets = BetRepository.GetBets();


     private List<Category> Categories = new List<Category>
    {
        new Category { CategoryId = 1, Name = "Footbal" },
        new Category { CategoryId = 2, Name = "Tenis" },
        new Category { CategoryId = 3, Name = "Soccer" }
    };


}
